.git
.github
.venv
venv
__pycache__
*.py[cod]
*.egg-info
build
dist
docs
scripts
Task
testdata
tests
config
config/strategy.json
config/alist.json
config/mediaflow.json
compose.yaml
.env
.env.*
.mediaflow
media
deploy
*.md
.ruff_cache
